<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/item.css}" rel="stylesheet"/>
    <!--    <link href="../../../webapp/css/item.css" th:href="@{/main/webapp/css/item.css}" rel="stylesheet"/>-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>




<nav aria-label="...">
    <ul class="pagination" th:if="${itemsPage.totalPages > 0 }">
        <li class="page-item disabled">
            <a class="page-link">Pagination</a>
        </li>
        <li class="page-item" th:each="pageNumber : ${numbers}"
            th:class="${pageNumber == itemsPage.number} ? 'page-item active'">
            <a class="page-link"
               th:href="@{'items?page=' + ${pageNumber}}"
               th:text="${pageNumber + 1}">
                <!--               th:href="@{${#httpServletRequest.requestURI}(page=${pageNumber})}"-->

            </a>
        </li>
    </ul>
</nav>

<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div th:each="item : ${itemsPage.content}" class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img th:src="${item.image}" class="card-img img-fluid" alt="">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 th:text="${item.name}" class="font-weight-semibold mb-2"></h6>
                    </div>
                    <h3 th:text="${item.price} + ' UAH'" class="mb-0 font-weight-semibold"></h3>
                    <form method="POST" action="/carts/add">
                        <input type="text" name="item_id" th:value="${item.id}" hidden>
                        <button type="submit" class="btn bg-cart">
                            <i class="fa fa-cart-plus mr-2"></i> Add to cart
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>