<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    main, header-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--        <link rel="stylesheet" href="/static/css/home-category.css">-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<br/><br/>
<div class="container">
    <form th:method="POST" th:action="@{/items}" th:object="${item}">
        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{name-product}"></label>
            <input type="text" th:field="*{name}" id="name" class="form-control" th:placeholder="#{enter-name}"/>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label" th:text="#{image-link}"></label>
            <input type="text" th:field="*{image}" id="image" class="form-control" placeholder="https://..."/>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label" th:text="#{price}"></label>
            <input type="number" th:field="*{price}" id="price" class="form-control" th:placeholder="#{enter-price}"/>
        </div>
        <div class="mb-3">
            <label for="category" th:text="#{select-category}"></label>
            <select name="category_id" class="form-select" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
            <a th:href="@{/categories/new}" class="btn btn-outline-primary" th:text="#{create-category}"></a>
        </div>

        <div class="mb-3">
            <label for="brand" th:text="#{select-brand}"></label>
            <select name="brand_id" class="form-select" id="brand">
                <option th:each="brand : ${brandes}"
                        th:value="${brand.id}"
                        th:text="${brand.name}"></option>
            </select>
            <a th:href="@{/brands/new}" class="btn btn-outline-primary" th:text="#{create-brand}"></a>
        </div>

        <div class="mb-3">
            <label for="color" th:text="#{select-color}"></label>
            <select name="color_id" class="form-select" id="color">
                <option th:each="color : ${colors}"
                        th:value="${color.id}"
                        th:text="${color.name}"></option>
            </select>
            <a th:href="@{/colors/new}" class="btn btn-outline-primary" th:text="#{create-color}"></a>
        </div>

        <input type="submit" value="Зберегти" class="btn btn-primary btn-lg"/>
    </form>
</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>