/*body {*/
/*    margin: 0;*/
/*    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*    !*font-size: .8125rem;*!*/
/*    font-weight: 400;*/
/*    line-height: 1.5385;*/
/*    color: #333;*/
/*    text-align: left;*/
/*    background-color: #c5c9e5*/
/*}*/

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    background-color: orange;
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}


/*pagin*/
.paginate{position: relative;}
.pagination>li>a, .pagination>li>span {
    padding: 6px 16px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #ECF0F1;
    border: 0px;
    font-size: 20px;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev,.pagination>li>a.page-next, .pagination>li>span.page-next {
    background-color: #1478B8;
    color: #FFF;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev{
    position: absolute;
    right: 60px;
}
.pagination>li>a.page-next, .pagination>li>span.page-next{
    position: absolute;
    right: 0px;
}

