<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="/static/css/item.css">-->

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container" th:if="${order != null}">
    <h2 style="text-align: center">Корзина</h2>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 500px">Name</th>
            <th style="text-align: center">Price</th>
            <th>Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart : ${order.getCarts()}">
            <td th:text="${cart.item.name}"></td>
            <td th:text="${cart.price}" style="text-align: center"></td>
            <td style="text-align: center">
                <form action="/carts/change-count" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="${cart.count}"></span>
                        </div>
                        <input name="count" th:value="${cart.count}" type="number" min="1">
                        <input name="cartId" th:value="${cart.id}" hidden>
                        <button class="btn btn-outline-primary" type="submit">Змінити</button>
                    </div>
                </form>
            </td>
            <td style="text-align: center">
                <form action="/carts/delete" method="POST">
                    <input name="cartId" th:value="${cart.id}" hidden>
                    <button class="btn btn-outline-danger" type="submit">Видалити</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <form method="POST">
        <h3 th:text="${'Сумма замовлення ' + order.totalPrice + ' грн.'}"></h3>
        <input th:if="${order.totalPrice != 0}" type="submit" name="confirm" value="Confirm" id="submit"
               sec:authorize="isAuthenticated()">
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>