<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Please sign in</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" th:href="@{/css/sign-up.css}" rel="stylesheet"/>
</head>
<body>

<section class="get-in-touch">
    <h1 class="title" th:text="#{sign-in}"></h1>

    <form class="contact-form row" method="post" action="/login">

        <div class="form-field col-lg-6">
            <input name="username" id="username" class="input-text js-input" type="text" required>
            <label class="label" for="username" th:text="#{logi}"></label>
        </div>

        <div class="form-field col-lg-6 ">
            <input name="password" id="password" class="input-text js-input" type="password" required>
            <label class="label" for="password" th:text="#{password}"></label>
        </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" th:value="#{submit}">
        </div>
    </form>
</section>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>