<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container" th:if="${orders != null || orders.isEmpty()}">
    <div>
        <form th:action="${action} == 'user' ? '/orders' : '/orders/all'" method="get"
              th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().build().getQuery()}">

            <h2 style="text-align: center">Сортування та фільтрація</h2>
            <table class="table">
                <tr>
                    <th style="text-align: center">Статус</th>
                    <th style="text-align: center">Ціна</th>
                    <th style="text-align: center">Сортування</th>
                    <th style="text-align: center"></th>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <select class="btn btn-outline-primary" name="statusOrder">
                            <option th:if="${urlBuilder != null}"
                                    th:each="status :${T(com.epam.rd.java.basic.model.StatusOrder).values()}"
                                    th:value="${status}"
                                    th:text="${status.name()}"
                                    th:selected="${urlBuilder.contains('statusOrder=' + status)}">
                            </option>
                            <option th:if="${urlBuilder == null}"
                                    th:each="status :${T(com.epam.rd.java.basic.model.StatusOrder).values()}"
                                    th:value="${status}"
                                    th:text="${status.name()}"
                                    th:selected="${status.name().equals('REGISTERED')}">
                            </option>
                        </select>
                    </td>
                    <td style="text-align: center" >
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Від</span>
                            </div>
                            <input th:value="${#request.getParameter('priceFrom')}" name="priceFrom">
                            <div class="input-group-append">
                                <span class="input-group-text">До</span>
                            </div>
                            <input th:value="${#request.getParameter('priceTo')}" name="priceTo">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <select class="btn btn-outline-primary"  name="sortField">
                            <option th:if="${urlBuilder != null}"
                                    th:each="field : ${T(com.epam.rd.java.basic.controller.util.OrderSortField).values()}"
                                    th:selected="${urlBuilder.contains('sortField=' + field)}"
                                    th:value="${field}"
                                    th:text="${field.field}">
                            </option>
                            <option th:if="${urlBuilder == null}"
                                    th:each="field : ${T(com.epam.rd.java.basic.controller.util.OrderSortField).values()}"
                                    th:value="${field}"
                                    th:text="${field.field}">
                            </option>
                        </select>
                        <select class="btn btn-outline-primary" name="sortDir">
                            <option th:if="${urlBuilder != null}"
                                    th:each="dir : ${T(com.epam.rd.java.basic.controller.util.SortDir).values()}"
                                    th:selected="${urlBuilder.contains('sortDir=' + dir)}"
                                    th:value="${dir}"
                                    th:text="${dir.dir}">
                            </option>
                            <option th:if="${urlBuilder == null}"
                                    th:each="dir : ${T(com.epam.rd.java.basic.controller.util.SortDir).values()}"
                                    th:value="${dir}"
                                    th:text="${dir.dir}">
                            </option>
                        </select>
                    </td>
                    <td style="text-align: center">
                        <button class="btn btn-outline-danger" type="submit">Застосувати</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <h1 style="text-align: center" th:text="${action} == 'user' ? 'Мої замовлення' : 'Всі замовлення'"></h1>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Pagination</a>
            </li>
            <li th:each="page : ${numbers}" class="page-item"
                th:class="${page == orders.get(0).currentPage + 1} ? 'page-item active'">
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('page', page).build().toString()}"
                   th:text="${page}">
                </a>
            </li>
        </ul>
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th th:if="${action} == 'admin'" scope="col">Login</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Total price</th>
            <th scope="col">Status</th>
            <th scope="col" th:if="${action} == 'admin'"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:if="${action} == 'admin'" th:text="${order.login}"></td>
            <td th:text="${order.createTime}"></td>
            <td th:text="${order.updateTime}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.status}"></td>
            <td th:if="${action} == 'admin'">
                <form action="/orders/change-status-order" method="POST" sec:authorize="hasAuthority('ADMIN')">
                    <input name="id" th:value="${order.id}" hidden>
                    <div class="input-group">
                        <select class="btn btn-outline-primary" id="inputGroupSelect04" name="status">
                            <option th:each="status :${T(com.epam.rd.java.basic.model.StatusOrder).values()}"
                                    th:value="${status}"
                                    th:text="${status.name()}" th:selected="${order.status == status.name()}">
                            </option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="submit">Apply</button>
                        </div>
                    </div>
                </form>
            </td>
            <td>
                <form action="/orders/detail">
                    <input name="id" th:value="${order.id}" hidden>
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>