<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    main, header-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--        <link rel="stylesheet" href="/static/css/home-category.css">-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Редагувати профіль</h5>
                    <a href="/profile" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Корзина</h5>
                    <a href="/carts" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Мої замовлення</h5>
                    <a href="/orders" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;" sec:authorize="hasAuthority('ADMIN')">
                <div class="card-body">
                    <h5 class="card-title">Всі замовлення</h5>
                    <a href="/orders/all" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3" sec:authorize="hasAuthority('ADMIN')">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Всі користувачі</h5>
                    <a href="/admin/users" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3" sec:authorize="hasAuthority('ADMIN')">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Додати новий товар</h5>
                    <a href="/items/new" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>